@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto:wght@100&display=swap");

@font-face {
  font-family: AnjaliOldLipi-Regular;
  src: url("fonts/AnjaliOldLipi-Regular.ttf");
  
}


*{box-sizing: border-box;
  
}


body {
  background-color: black;
  font-family: "Roboto";
margin: 1px;}

header {
  background-image: url(imagenes/listonargentino.gif);
  background-size: contain;
  height: 10vh;
  width: 100vw;
  box-shadow: inset 0 0 50px;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.audio {float: right ;
}



.titulo2 {
float:left;
font-size: 1em;
}

nav {
  font-size: 1em;
  background-color: #a83108;
  box-sizing: border-box;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: inset 0 0 50px;
  padding: 10px;
font-family:"AnjaliOldLipi-Regular" ;}







a {text-decoration: none;
  color: black;
  border-style: double;
  padding: 10px;
  font-size: 1em;
}


a:hover {
  border: 5px black double;
  box-shadow: inset black 0 0 10px;
  transform: scale(1.2);
  transition: 0.1s;
}


section {
  background-image: url(imagenes/hola1.jpg);
  box-shadow: inset 0 0 50px;
  background-size: cover;
  width: 50vw;
  height: 83.6vh;
  padding: 10px;
  text-align: justify;
  float: left;
  font-size: 1em;
  font-weight: bold;
}

.formulario {
  display: flex;
  font-weight: bold;
  font-size: 17px;
  padding: 10px;
  width: 40vw;
  margin-left: 28%;
  margin-top: 100px;
  height: 50%;
  text-align: center;
  border: double black;
  border-radius: 10px;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.titulo2:hover {
  color: #a83108;
  font-size: 1.5em;
  transition: 0.2s;
}

h3 {
  clear:left;
  font-size: 1em
}

h3:hover {
  color: #a83108;
  font-size: 1.5em;
  transition: 0.2s;
}



.mapa {
  width: 20vw;
  height: 40vh;
}

.container_mapa {
  text-align: center;
}

aside {
  background-image: url(imagenes/fondodepantallageneral.jpg);
  box-shadow: inset 0 0 50px;
  background-size: cover;
  width: 49.89vw;
  height: 83.6vh;
  float: right;
}

.aside1 {
  display: flex;
  justify-content: space-around;
  align-items: center;  

}

.aside2 {
  margin-top: 1vw;
  display: flex;
  justify-content: space-around;
}

.lista1 {
  box-shadow: inset 0 0 10px;
  border: double;
  width: 40vw;
  padding: 1vw;
  height: 30vh;
  margin:1vw;
  font-size: 1em;
}

.img {
  width: 20vw;
  height: 30vh;
  margin:1vw;

}

.lista2 {
  text-align: justify;
  padding: 1vw;
  box-shadow: inset 0 0 10px;
  border: double;
  height: 40vh;
  width: 40vw;
  margin:1vw;
  font-size: 1em;



}

.video {
  width: 50vw;
  height: 40vh;
  margin:1vw;

}


span:hover {
  color: #a83108;
  font-size: 1em;
  transition: 0.4s;
}

footer {
  background-color: #a83108;
  box-shadow: inset 0 0 50px;
  height: 10vh;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  font-size: 1em;
  padding: 10px;
}

.footer1 {
  border: solid black;
  text-align: center;
  display: flex;
  border: double;
  align-items: center;
}

.footer1:hover{transform:translateX(20PX);
  transition: 1s;}

.footer2 {
  border: double;
  display: flex;
  align-items: center;
}


.footer3 {
  border: double;
  display: flex;
  align-items: center;
}



.ig:hover {
  transform: scale(1.5);
  box-shadow: none;
  border: none;
  margin: 5px;

}

.wp:hover {
  transform: scale(1.5);
  box-shadow: none;
  border: none;
  margin: 5px;

}

.gmail:hover {
  transform: scale(1.5);
  box-shadow: none;
  border: none;
  margin: 5px;

}

.fb:hover {
  transform: scale(1.5);
  box-shadow: none;
  border: none;
  margin: 5px;
}
.wp{border: none;}
.fb{border: none;}
.ig{border: none;}
.gmail{border: none;}


@media (max-width: 1800px)
{header {text-align: center;
 font-size:  1.5em
;}}

@media (max-width: 1800px)
{nav {display: flex;
flex-direction: column;
}}

@media (max-width: 1800px)
{a {width: 100%;
text-align: center;}}


@media (max-width: 1800px)
{aside {width: 100%;
float:inline-end;
height: auto;}}

@media (max-width: 1800px)
{.aside1 {flex-direction: column;}}

@media (max-width: 1800px)
{.aside2 {flex-direction: column;
align-items: center;
;}}

@media (max-width: 1800px)
{section {width: 100vw;
display: flex;
flex-direction: column;
height: auto;}}

@media (max-width: 1800px)
{.mapa {width: 70vw;
  height: 30vh;
}}

@media (max-width: 1800px)
{.lista2 {width: auto;
height: auto ;
margin: 5vw;}}

@media (max-width: 1800px)
{.lista1 {width: 90vw;
height: auto;

margin: 5vw;} }

@media (max-width: 1800px)
{.img {width: 90vw;
height: auto ;
margin: 5vw;}}

@media (max-width: 1800px)
{.video {width: 90vw;
height: 35vh ;
margin: 5vw;}}

@media (max-width: 1800px)
{footer {display: flex;
flex-direction: column;
height: auto;}}

@media (max-width: 1800px)
{footer {display: flex;
flex-direction: column;
height: auto;
padding: 2vw;}}

@media (max-width: 1800px)
{.footer1 { display: flex;
justify-content: center;
margin: 2px;
height:12vh}}

@media (max-width: 1800px)
{.footer1:hover { transform: none;
  box-shadow: inset 0 0 50px;
  transition: 0.2s
;}}

@media (max-width: 1800px)
{.footer2 { 
display: flex;
flex-direction: column;
margin: 2px;
height:12vh}}

@media (max-width: 1800px)
{.footer3 { 
display: flex;
flex-direction: column;
margin: 2px;
height:12vh ;}}

@media (max-width: 1800px)
{.fb:hover{
transform: none;
box-shadow: none;
border: none;
margin: 0px;}}
@media (max-width: 1800px)
{.ig:hover{
transform: none;
box-shadow: none;
border: none;
margin: 0px;}}
@media (max-width: 1800px)
{.wp:hover{
transform: none;
box-shadow: none;
border: none;
margin: 0px;}}

@media (max-width: 1800px)
{.gmail:hover{
transform: none;
box-shadow: none;
border: none;
margin: 0px;}}

@media (max-width: 1800px)
{.seccion1:hover{
transform: none;
  }}

@media (max-width: 1800px)
{.seccion2:hover{
transform: none;
  }}

@media (max-width: 1800px)
{.seccion3:hover{
transform: none;
  }}

@media (max-width: 1800px)
{.seccion4:hover{
transform: none;
  }}

@media (max-width: 1800px)
{.seccion1{
margin: 2px;
  }}

@media (max-width: 1800px)
{.seccion2{
  margin: 2px;
  }}

@media (max-width: 1800px)
{.seccion3{
  margin: 2px;
  }}

@media (max-width: 1800px)
{.seccion4{
  margin: 2px;
  }}


@media (max-width: 1800px)
{.formulario{
  margin-top: 15px;
  width: auto;
  text-align: center;
  margin-left: 0%;
  
  }}

@media (max-width: 1800px)
{.form1{
 display: flex;
 justify-content: center;
  
  }}


@media (max-width: 1800px)
{.titulo2:hover{
 font-size: 1em;
 color:black
  
  }}



@media (max-width: 1800px)
{h3:hover{
 font-size: 1em;
 color:black
  
  }}

@media (max-width: 1800px)
{span:hover{
 font-size: 1em;
 color: black;
}}
